<template>
        <div style="background-color: red" class="row">
                <p>{{name}}</p>
                <p>Abdullah</p>
                <button type="button" @click="showAlert">Show Alert</button>
        </div>
</template>

<script>
    export default {
        name: 'giderTable',
        data() {
            return {
                name :'Abdullah'
            }
        },
         methods : {
                 showAlert(){
                         alert('aag')
                 }
          }
    }
</script>

<style scoped>

</style>