.zoom{width:330px;height:210px;background-position:center;background-repeat:no-repeat;background-size:330px 210px;transition:background-size 1s;-webkit-transition:background-size 1s;-moz-transition:background-size 1s;-o-transition:background-size 1s; }

.zoom:hover{background-size:530px 310px;}
