.mback{
  background-color: transparent;
  border-left: 3px solid #30d5c8;
}
.mback:hover{
  border-bottom: 3px solid #ff5454;
  border-top: 3px solid #ff5454;
  border-left: 3px solid #ff5454;
  background-color: #f1a899;
}
.zoom{width:330px;height:210px;background-position:center;background-repeat:no-repeat;background-size:330px 210px;transition:background-size 1s;-webkit-transition:background-size 1s;-moz-transition:background-size 1s;-o-transition:background-size 1s; }

.zoom:hover{background-size:530px 310px;}
